@import url("https://fonts.googleapis.com/css2?family=Montserrat");
*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 2rem;
    flex-wrap: wrap;
}

.control-container {
    display: flex;
    flex-direction: column;
}

.container {
    height: min(960px, 100%);
    width: min(960px, 100%);
    display: grid;
    border: 2px black solid;
}

.box {
    flex: 1;
    border: 1px solid black;
    opacity: 10%;
}

button {
    padding: 12px 18px;
    background-color: white;
    font-size: 18px;
}

button,
h1 {
    margin: 12px;
}

button:hover {
    background-color: whitesmoke;
}
