@import url("https://fonts.googleapis.com/css2?family=Montserrat");
*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
h1 {
    margin: 24px 0px 18px 0px;
}

.container {
    display: flex;
    flex-direction: column;
    border: 2px black solid;
    height: 960px;
    width: 960px;
}

.box {
    flex: 1;
    border: 1px solid black;
    opacity: 10%;
}

.change-resolution {
    padding: 12px 18px;
    background-color: white;
    font-size: 18px;
    margin: 12px;
}

.change-resolution:hover {
    background-color: whitesmoke;
}

.line-container {
    display: flex;
    flex: 1;
}
